   <div class="py-5 px-5 container">
   <form action="/Buscar" method="post">
   <div class="row pb-4 mx-auto ">
        <div class="col-sm-3">
            <label for="">Tienda</label>
            
            <div class="form-group">
                <select name="tienda"class="form-control">
                    
                    {{#each tiendas}}
                    <option  value="{{this.store_name}}">{{this.store_name }}</option>
                    {{/each}}
                </select>
                 
            </div>

        </div>
        <div class="col-sm-3">
            <label for="">Categoria</label>
            <div class="form-group">
                <select name="categoria" class="form-control">
                    <option selected>Open this select menu</option>
                    {{#each categories}}
                    <option value="{{this.category_name}}">{{this.category_name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="col-sm-3">
            <label for="">Marca</label>
            <div class="form-group">
                <select name="marca" class="form-control">
                     <option selected>Open this select menu</option>
                    {{#each brand}}
                    <option value="{{this.brand_name}}">{{this.brand_name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="col-sm-3 pt-4">
            <button  class="btn btn-primary">Primary</button>
        </div>
    </div>
</form>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Tienda</th>
      <th scope="col">IDProducto</th>
      <th scope="col">Nombre Producto</th>
      <th scope="col">Inventario</th>
       <th scope="col">Accion</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    {{#each busqueda}}
      <td>{{this.store_name}}</td>
      <td>{{this.product_id}}</td>
      <td>{{this.product_name}}</td>
      <td>{{this.quantity}}</td>
      <td><button class="btn btn-primary">VER</button></td>
    </tr>
       {{/each}}
    
  </tbody>
</table>
</div>